# Зависимости
node_modules/

# Результаты тестов
test-results/
playwright-report/
screenshots/
allure-results/
allure-report/

# Временные файлы
*.zip
*.png
*.webm

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log
